* {
    margin: 0;
    padding: 0;
}

.section-1 {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
    height: 20%;
    padding: 100px 400px 100px 400px;
}

.bag input {
    width: 150px;
    height: 20px;
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}